@import "mixin";
@import "var";

html{
    font-size: 69.5;
}



*{
    margin :0;
    padding: 0;
    box-sizing:  border-box;
}

.main-header{
    @include flexprop;
    width: 100vw;
    height: 100vh;
 
    // place-items: center;
    background: $bg-color;

    h1{
        @include textstyle(0.8rem);
        &:hover{
            color: #c8d6e5;
        }

        &::after{
            content:" hello"
        }
    
    }
 
    p{
        @include textstyle(0.3rem);
        &:hover{
            color: #c8d6e5;
        }
    
    }

   

}

