html{
    font-size: 69.5;
}



*{
    margin :0;
    padding: 0;
    box-sizing:  border-box;
}

// variables
$bg-color: #10ac84;

.main-header{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // place-items: center;
    background: $bg-color;

    h1{
        color:#222f3e;
        font-size: 5rem + 5rem;

        &:hover{
            color: #c8d6e5;
        }
    
    }
 
    p{
        color:#222f3e;
        font-size: 5rem + 5rem;

        &:hover{
            color: #c8d6e5;
        }
    
    }

   

}

